body {
  font-family: "Inter", sans-serif;
}

/* Icon box Title */
.icon-box {
  width: 60px;
  height: 60px;
  background-color: #F9B300;
  border-radius: 12px;
}

/* Comprovante section */
.comprovante-card {
  background-color: #F9B300;
  border: none;
  border-radius: 12px;
}
